EAM_Project_Client/EAM_Project_Client/src/wsdl/localhost_8080/EAM_Project/CustomerImplService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:tns="http://interfaces.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaces.com/" schemaLocation="http://localhost:8080/EAM_Project/CustomerImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="getUserById">
<part name="parameters" element="tns:getUserById"/>
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse"/>
</message>
<message name="createOrReturnUser">
<part name="parameters" element="tns:createOrReturnUser"/>
</message>
<message name="createOrReturnUserResponse">
<part name="parameters" element="tns:createOrReturnUserResponse"/>
</message>
<portType name="ILogin">
<operation name="getUser">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.com/ILogin/getUserRequest" message="tns:getUser"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.com/ILogin/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="getUserById">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaces.com/ILogin/getUserByIdRequest" message="tns:getUserById"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaces.com/ILogin/getUserByIdResponse" message="tns:getUserByIdResponse"/>
</operation>
<operation name="createOrReturnUser">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaces.com/ILogin/createOrReturnUserRequest" message="tns:createOrReturnUser"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaces.com/ILogin/createOrReturnUserResponse" message="tns:createOrReturnUserResponse"/>
</operation>
</portType>
</definitions>