EAM_Project_Client/EAM_Project_Client/src/wsdl/localhost_8080/EAM_Project/RoomServiceImplService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:tns="http://interfaces.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaces.com/" schemaLocation="http://localhost:8080/EAM_Project/RoomServiceImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="addRoomServices">
<part name="parameters" element="tns:addRoomServices"/>
</message>
<message name="addRoomServicesResponse">
<part name="parameters" element="tns:addRoomServicesResponse"/>
</message>
<message name="getRoomServices">
<part name="parameters" element="tns:getRoomServices"/>
</message>
<message name="getRoomServicesResponse">
<part name="parameters" element="tns:getRoomServicesResponse"/>
</message>
<message name="updateRoomServices">
<part name="parameters" element="tns:updateRoomServices"/>
</message>
<message name="updateRoomServicesResponse">
<part name="parameters" element="tns:updateRoomServicesResponse"/>
</message>
<message name="approveRoomServices">
<part name="parameters" element="tns:approveRoomServices"/>
</message>
<message name="approveRoomServicesResponse">
<part name="parameters" element="tns:approveRoomServicesResponse"/>
</message>
<message name="getRoomServicesByRoomNumber">
<part name="parameters" element="tns:getRoomServicesByRoomNumber"/>
</message>
<message name="getRoomServicesByRoomNumberResponse">
<part name="parameters" element="tns:getRoomServicesByRoomNumberResponse"/>
</message>
<message name="removeRoomServicesForVacantRoom">
<part name="parameters" element="tns:removeRoomServicesForVacantRoom"/>
</message>
<message name="removeRoomServicesForVacantRoomResponse">
<part name="parameters" element="tns:removeRoomServicesForVacantRoomResponse"/>
</message>
<portType name="IRoomService">
<operation name="addRoomServices">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.com/IRoomService/addRoomServicesRequest" message="tns:addRoomServices"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.com/IRoomService/addRoomServicesResponse" message="tns:addRoomServicesResponse"/>
</operation>
<operation name="getRoomServices">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaces.com/IRoomService/getRoomServicesRequest" message="tns:getRoomServices"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaces.com/IRoomService/getRoomServicesResponse" message="tns:getRoomServicesResponse"/>
</operation>
<operation name="updateRoomServices">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaces.com/IRoomService/updateRoomServicesRequest" message="tns:updateRoomServices"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaces.com/IRoomService/updateRoomServicesResponse" message="tns:updateRoomServicesResponse"/>
</operation>
<operation name="approveRoomServices">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://interfaces.com/IRoomService/approveRoomServicesRequest" message="tns:approveRoomServices"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://interfaces.com/IRoomService/approveRoomServicesResponse" message="tns:approveRoomServicesResponse"/>
</operation>
<operation name="getRoomServicesByRoomNumber">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://interfaces.com/IRoomService/getRoomServicesByRoomNumberRequest" message="tns:getRoomServicesByRoomNumber"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://interfaces.com/IRoomService/getRoomServicesByRoomNumberResponse" message="tns:getRoomServicesByRoomNumberResponse"/>
</operation>
<operation name="removeRoomServicesForVacantRoom">
<input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://interfaces.com/IRoomService/removeRoomServicesForVacantRoomRequest" message="tns:removeRoomServicesForVacantRoom"/>
<output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://interfaces.com/IRoomService/removeRoomServicesForVacantRoomResponse" message="tns:removeRoomServicesForVacantRoomResponse"/>
</operation>
</portType>
</definitions>